$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;
$colour-grey: #F2F2F2;

a{
  text-decoration: none;
  color: black;
}

li{
  list-style: none;
}


.container{
  position: relative;
  margin: auto;
}

.header {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;

  &__previous {
    i {
      right: 55px;
      margin: auto;
    }
  }

  &__logo {
    margin: auto;
  }
}

.search-form {
  width: 100%;
  background-color: #EDEDED;
  height: 40px;
  text-align: center;
  padding-top: 15px;
  margin: 0 auto;

  &__icon {
    margin: auto;
  }

  &__input {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    width: 100px;
  }
}

/*presentation*/
.presentation {
  width: 100%;
  height: max-content;
  text-align: center;
  background-color: #F2F2F2;
  padding-top: 15px;
  margin: auto;

  h1 {
    font-weight: bold;
    margin: 0 auto auto 30px;
  }

  &__btn {
    width: 200px;
    height: 50px;
    background-color: $colour-secondary;
    border-radius: 90px;
    border: none;
    margin-bottom: 50px;
    color: white;
  }
}

/*nav*/
.nav {
  height: max-content;
  margin: 25px auto;
  text-align: center;
h2 {
    margin: auto; 
  }

  &__list {
    display: block;
    list-style-type: none;

    &__card {
      width: 300px;
      background-color: $colour-grey;
      border-radius: 15px;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 20px auto;

      &__number {
        width: 20px;
        height: 20px;
        border-radius: 90px;
        background-color: $colour-primary;
        color: white;
        margin-right: 20px;
        text-align: center;
      }

      i {
        margin-right: 20px;
      }
    }
  }
}

/* main */
.figures {
  background-color: #e5e5e5;
  margin: 50px auto 0 auto;
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;

  &__title {
    margin: 50px auto auto 30px;
  }

  .main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    &__figure {
    height: 250px;
    width: 90%;
    margin: 50px auto;
    border-radius: 15px;
    position: relative;

    &__img {
      width: 250px;
      height: 200px;
      border-radius: 15px;

      .new {
        position: absolute;
        padding: 7px 10px;
        margin: 10px 0 0 150px;
        background-color: #99e2d0;
        border-radius: 5px;
        color: #2c9c81;
      }

      img {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 170px;
        width: 250px;
        margin: 0 auto;
      }
    }

    &__infos {
      display: flex;
      flex-direction: row;

      .infos{
        display: block;
        width: 80%;
      }       

      .icon {
        width: 20%;
        display: table;
        margin: auto 0 auto auto;
        

        i {
          vertical-align: middle;
          display: table-cell;
          text-align: center;
          width: 30px;
          height: 30px;
        }
      }
    }

    }
  }
}

//pages
.image {
  width: 100%;
  height: 200px;
  margin: auto;

  img {
    height: 200px;
    width: 100%;
    margin: auto auto 0 auto;
  }
}

//restaurant

.restaurant {
  background-color: $colour-grey;
  height: max-content;
  margin: 0 auto;
  width: 100%;
  border-radius: 15px 15px 0 0;
  position: relative;
  text-align: center;

  .menu{
    width: 80%;
    margin: auto;

    &__heading {
      display: flex;
      flex-direction: row;
      margin: 30px auto;
      width: 100%;

      &__title {
      font-weight: bold;
      margin: auto 30px;
      font-family: "Shrikhand", cursive;
      float: left;
     }

      i {
      margin: auto 15px auto auto;
      float: right;
      font-size: 1.5em;
      cursor: pointer;
      }

      i:hover{
        color: $colour-primary;
      }
    }

    &__title{
    margin: auto 10px;
    }
    /*
    .menu__card {
    background: white;
    display: flex;
    flex-direction: row;
    margin: 30px auto ;

    h2 {
      margin: auto 20px;
      font-family: Shrikhand;
    }

    .bar {
      height: 2px;
      width: 50px;
      background-color: #99e2d0;
      border: 1px #99e2d0 solid;
      border-radius: 30px;
      margin: auto 20px;
    }
    */
    .menu__card {
      width: 90%;
      box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      margin: 30px auto 30px auto;
      height: 70px;
      display: flex;
      flex-direction: row;
      background: white;
      overflow: hidden;
      text-align: left;
     

      &__details{
        width: 100%;
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "name price"
        "supplements price";

        .name{
          grid-area: name;
          margin: auto auto auto 15px;
        }

        .supplements{
          grid-area: supplements;
          margin: auto auto auto 15px;
        }

        .price{
          grid-area: price;
          margin: auto 15px auto auto;
        }
      }

      &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #99e2d0;
        border-radius: 0 12px 12px 0;
        color: white;
        transition: 400ms ease-in-out;
        margin: auto;
        height: 100%;
        width: 0;
        cursor: pointer;
          i {
            margin: auto;    
          }
      }  
      &__btn:hover{
        width: 70px;
      }
    }  
  }

  button {
    font-weight: bold;
    font-size: 1.1rem;
    width: 190px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(360deg, #9356dc 0%, #ff79da 100%);
    color: white;
    font-size: 1rem;
    box-shadow: 17px 17px 33px #cecece, -17px -17px 33px #ffffff;
    margin:auto;
    height: 50px;
  }
}



footer {
  background-color:#353535;
  width: 100%;
  height: 250px;
  display: inline-block;
  margin: auto;
  color: green;
  position: relative;
  bottom: 0;
  text-align: center;

  h4 {
    margin: 30px auto auto 45px;
    font-family: "Shrikhand", cursive;
    color: white;
    font-size: 1.5em;
  }

  ul {
    margin: 15px 0;

    li {
      display: block;
      margin-top: 15px;

      i {
        color: white;
        margin-right: 15px;
      }

      a {
        color: white;
      }
    }
  }
}
